@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Backgrounds */
  --bg-section: #0C0F0A;
  --bg-surface: #240010;
  --bg-card: #2e0015;

  /* Text */
  --text-primary: #ffffff;
  --text-secondary: #c9aeb6;
  --text-muted: #8a6f77;

  /* Borders */
  --border-subtle: #b6b6b6;
  --border-strong: #52525b; /* Zinc-600 */

  color-scheme: dark;
  color: var(--text-primary);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

.section {
  background-color: var(--bg-section);
}
.text-primary {
  color: var(--text-primary);
}
.text-secondary {
  color: var(--text-secondary);
}
.border-subtle {
  border-color: var(--border-subtle);
}
.border-strong {
  border-color: var(--border-strong);
}
.bg-border-strong {
  background-color: var(--border-strong);
}
