@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Archivo", sans-serif;
  font-variation-settings: 'wdth' 115; /* Expanded look */
  line-height: 1.5;
  font-weight: 400;

  /* Backgrounds */
  --bg-section: #0C0F0A;
  --bg-surface: #ffffff;
  --bg-card: #2e0015;

  /* Text */
  --text-primary: #ffffff;
  --text-secondary: #c9aeb6;
  --text-muted: #7e766c;

  /* Borders */
  --border-subtle: #b6b6b6;
  --border-strong: #52525b; /* Zinc-600 */

  color-scheme: dark;
  color: var(--text-primary);
  background-color: var(--bg-surface);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

@media (max-width: 370px) {
  html, body {
    overflow-x: hidden;
    width: 100%;
  }
}

.section {
  background-color: var(--bg-section);
}
.text-primary {
  color: var(--text-primary);
}
.text-secondary {
  color: var(--text-secondary);
}
.border-subtle {
  border-color: var(--border-subtle);
}
.border-strong {
  border-color: var(--border-strong);
}
.bg-border-strong {
  background-color: var(--border-strong);
}

.highlight {
  color: #E2C7CF;
  font-weight: 600;
  letter-spacing: -0.01em;
}
